@{
    ViewData["Title"] = "Cotizaciones";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cotizaciones.css" />
}

<div class="cotizacion-container">

    <div>

        <div class="panel-vehiculo">

            <div class="titulo">
                DATOS DEL VEHÍCULO
            </div>

            <table class="tabla-costos">

                <tr class="gris">
                    <td>APUESTA DEL VEHICULO</td>
                    <td>
                        <input type="text" class="textbox" id="apuestaVehiculo">
                    </td>
                </tr>

                <tr class="gris">
                    <td>PRECIO DE VEHICULO CON FEES</td>
                    <td>
                        <input type="text" class="textbox" id="precioFees">
                    </td>
                </tr>

                <tr class="gris">
                    <td>COMISION</td>
                    <td>
                        <input type="text" class="textbox" id="comision">
                    </td>
                </tr>

                <tr class="verde">
                    <td>GRUA</td>
                    <td>
                        <input type="text" class="textbox" id="grua">
                    </td>
                </tr>

                <tr class="verde">
                    <td>BL</td>
                    <td>
                        <input type="text" class="textbox" id="bl">
                    </td>
                </tr>

                <tr class="verde">
                    <td>FLETE</td>
                    <td>
                        <input type="text" class="textbox" id="flete">
                    </td>
                </tr>

                <tr class="verde">
                    <td>COMISION DE FLETE</td>
                    <td>
                        <input type="text" class="textbox" id="comisionFlete">
                    </td>
                </tr>

                <tr class="beige">
                    <td>IMPUESTO ADUANA</td>
                    <td>
                        <input type="text" class="textbox" id="impuesto">
                    </td>
                </tr>

                <tr class="beige">
                    <td>TRAMITE ADUANAL</td>
                    <td>
                        <input type="text" class="textbox" id="tramiteAduanal">
                    </td>
                </tr>

                <tr class="beige">
                    <td>GRUA DE ADUANA</td>
                    <td>
                        <input type="text" class="textbox" id="gruaAduana">
                    </td>
                </tr>

                <tr class="beige">
                    <td>TRANSFERENCIA</td>
                    <td>
                        <input type="text" class="textbox" id="transferencia">
                    </td>
                </tr>

                <tr class="beige">
                    <td>STORAGE</td>
                    <td>
                        <input type="text" class="textbox" id="storage">
                    </td>
                </tr>

                <tr class="beige">
                    <td>ENVIO DE FEDEX IAAI</td>
                    <td>
                        <input type="text" class="textbox" id="tituloFedex">
                    </td>
                </tr>

                <tr class="beige">
                    <td>VENTA</td>
                    <td>
                        <input type="text" class="textbox" id="venta">
                    </td>
                </tr>

                <tr class="beige">
                    <td>PAGO A CUENTA</td>
                    <td>
                        <input type="text" class="textbox" id="pagoCuenta">
                    </td>
                </tr>

                <tr class="beige">
                    <td>DEPOSITO DEDUCIBLE</td>
                    <td>
                        <input type="text"
                               class="textbox"
                               id="depositoDeducible"
                               value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>REPARACION PINTOR</td>
                    <td>
                        <input type="text" class="textbox" id="reparacionPintor" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>REPUESTOS</td>
                    <td>
                        <input type="text" class="textbox" id="repuestos" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>TRAMITE DE PLACAS</td>
                    <td>
                        <input type="text" class="textbox" id="tramitePlacas" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>AUTORIZACION ADUANAL</td>
                    <td>
                        <input type="text" class="textbox" id="autorizacion" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>EMISION DE GASES</td>
                    <td>
                        <input type="text" class="textbox" id="emisionGases" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>EXPERTICIE</td>
                    <td>
                        <input type="text" class="textbox" id="experticie" value="0">
                    </td>
                </tr>

                <tr class="gris">
                    <td>EXPERTICIE EN SISTEMA</td>
                    <td>
                        <input type="text" class="textbox" id="experticieSistema" value="0">
                    </td>
                </tr>

            </table>

        </div>

        <div class="acciones-superiores">

            <button type="button"
                    class="btn-pdf"
                    style="width:70%;"
                    onclick="generarPDF()">

                LISTO!

            </button>

            <button type="button"
                    class="btn-buscar"
                    style="width:30%;"
                    onclick="window.open('http://almacenadoranejapa.com/#opc_calculadora', '_blank')">

                Calcular Impuesto

            </button>

        </div>

    </div>

    <div class="panel-cliente">

        <div class="titulo">
            DATOS DEL CLIENTE / SUBASTA
        </div>

        <table class="tabla-cliente">

            <tr>
                <td class="label">DUI:</td>
                <td>

                    <div class="dui-container">

                        <input type="text"
                               class="textbox"
                               id="duiCliente">

                        <button type="button"
                                class="btn-buscar-cliente"
                                id="buscarCliente">

                            Buscar

                        </button>

                    </div>

                </td>
            </tr>

            <tr>
                <td class="label">NOMBRE CLIENTE:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="nombreCliente">
                </td>
            </tr>

            <tr>
                <td class="label">TELEFONO:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="telefonoCliente">
                </td>
            </tr>

            <tr>
                <td class="label">CORREO ELECTRONICO:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="correoCliente">
                </td>
            </tr>

            <tr>
                <td class="label">MARCA DE VEHICULO:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="marcaVehiculo">
                </td>
            </tr>

            <tr>
                <td class="label">FECHA DE SUBASTA:</td>
                <td>
                    <input type="date"
                           class="textbox"
                           id="fechaSubasta">
                </td>
            </tr>

            <tr>
                <td class="label">SUBASTA:</td>
                <td>

                    <select class="textbox" id="subasta">

                        <option>COPART</option>
                        <option>IAAI</option>

                    </select>

                </td>
            </tr>

            <tr>
                <td class="label">NUMERO DE STOCK:</td>
                <td>
                    <input type="number"
                           min="0"
                           class="textbox"
                           id="numeroStock">
                </td>
            </tr>

            <tr>
                <td class="label">LUGAR O ESTADO:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="lugarEstado">
                </td>
            </tr>

            <tr>
                <td class="label">ADUANA DESTINO:</td>
                <td>
                    <input type="text"
                           class="textbox"
                           id="aduanaDestino"
                           value="NEJAPA">
                </td>
            </tr>

            <tr>
                <td class="label">NAVIERA:</td>
                <td>

                    <select class="textbox" id="naviera">

                        <option>Polariz</option>
                        <option>Inbakar</option>
                        <option>MATUS</option>
                        <option>NorthAtlantic</option>

                    </select>

                </td>
            </tr>

        </table>

    </div>

</div>

@section Scripts {
    <script src="~/js/cotizaciones.js"></script>
}