@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard">

    <div class="dashboard-cards">

        <div class="card red">
            <div class="card-info">
                <h3>Vehículos sin entregar</h3>
                <p>@ViewBag.VehiculosPendientes</p>
                <span>Total en progreso</span>
            </div>
            <div class="card-icon">
                <i class="bi bi-car-front"></i>
            </div>
        </div>

        <div class="card green">
            <div class="card-info">
                <h3>Entregados</h3>
                <p>@ViewBag.Entregados</p>
                <span>Total completados</span>
            </div>
            <div class="card-icon">
                <i class="bi bi-check-circle"></i>
            </div>
        </div>

        <div class="card blue">
            <div class="card-info">
                <h3>Costo total inventario</h3>
                <p>$@ViewBag.TotalInventario</p>
            </div>
            <div class="card-icon">
                <i class="bi bi-cash"></i>
            </div>
        </div>

        <div class="card yellow">
            <div class="card-info">
                <h3>Marca más comprada</h3>
                <p>-</p>
                <span>0 unidades este mes</span>
            </div>
            <div class="card-icon">
                <i class="bi bi-star"></i>
            </div>
        </div>

        <div class="card blue">
            <div class="card-info">
                <h3>Empleados registrados</h3>
                <p>@ViewBag.Empleados</p>
            </div>
            <div class="card-icon">
                <i class="bi bi-person"></i>
            </div>
        </div>

        <div class="card purple">
            <div class="card-info">
                <h3>Clientes registrados</h3>
                <p>@ViewBag.Clientes</p>
            </div>
            <div class="card-icon">
                <i class="bi bi-people"></i>
            </div>
        </div>

        <a href="https://www.iaai.com/Dashboard/Default"
           target="_blank"
           class="dashboard-btn red-btn">

            <div class="dashboard-btn-content">
                <img src="~/img/IAA.png" alt="Entregas">
            </div>

        </a>

        <a href="https://www.copart.com/es/login"
           target="_blank"
           class="dashboard-btn blue-btn">

            <div class="dashboard-btn-content">
                <img src="~/img/Copart.png" alt="Reportes">
            </div>

        </a>

        <a href="https://go.microsoft.com/fwlink/p/?LinkID=2125442&deeplink=mail%2F"
           target="_blank"
           class="dashboard-btn cyan-btn">

            <div class="dashboard-btn-content">
                <img src="~/img/Outlook.png" alt="Soporte">
            </div>

        </a>

    </div>

</div>