@model Importames.Models.UsuarioModel
@{
    Layout = null;
}

<form id="formUsuario" class="form-grid" autocomplete="off">
    <h2 class="form-title">Registrar Nuevo Usuario</h2>
    <div id="mensaje-modal" class="mensaje-form"></div>

    <div class="form-group">
        <label>NOMBRE</label>
        <input type="text" name="Nombre" required />
    </div>

    <div class="form-group">
        <label>APELLIDO</label>
        <input type="text" name="Apellido" required />
    </div>

    <div class="form-group">
        <label>USERNAME</label>
        <input type="text" name="Username" required />
    </div>

    <div class="form-group">
        <label>PASSWORD</label>
        <input type="password" name="Password" required minlength="4" />
    </div>

    <div class="form-group">
        <label>ROL</label>
        <select name="Rol" required>
            <option value="">Seleccione</option>
            <option value="Administrador">ADMIN</option>
            <option value="Empleado">EMPLEADO</option>
        </select>
    </div>

    <div class="form-group">
        <label>TELÉFONO</label>
        <input type="text" name="Telefono" maxlength="8" required pattern="[0-9]{8}" />
    </div>

    <div class="form-group full">
        <label>CORREO ELECTRÓNICO</label>
        <input type="email" name="Correo" required />
    </div>

    <div class="modal-actions full">
        <button type="button" class="btn btn-cancel" onclick="cerrarModal()">Cancelar</button>
        <button type="button" class="btn btn-save" onclick="guardarUsuario()">Guardar</button>
    </div>
</form>