.btn {
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-save {
    background: #22c55e;
    color: white;
}

    .btn-save:hover {
        background: #16a34a;
    }

.btn-cancel {
    background: #374151;
    color: white;
}

.btn-add {
    background: #b41318;
    color: white;
}

    .btn-add:hover {
        background: #8f0f13;
    }

.btn-edit {
    background: transparent;
    color: #3b82f6;
    border: 1px solid #3b82f6;
}

    .btn-edit:hover {
        background: rgba(59, 130, 246, 0.1);
    }

.btn-delete {
    background: transparent;
    color: #ef4444;
    border: 1px solid #ef4444;
}

    .btn-delete:hover {
        background: rgba(239, 68, 68, 0.1);
    }